#navbar{
    display: flex;
    align-items: center;
    top: 0;
    padding: 20px;
    background-color: #D9D9D9;
    #brand{
        width: 35%;
        #logo-png{
            width: 100%;
        }
    }
}

@media (min-width: 768px) {
    
    %hover-effect {
        width: 100%;
    }

    #navbar{
        backdrop-filter: blur(50px);
        background: transparent;
        position: sticky;
        padding-top: 40px;
        padding-bottom: 40px;
        top: 0;
        width: 100%;
        height: calc(var(--nav-height) + 50px);
        transition: transform 0.2s;
        z-index: 1;
        #brand{
            #logo-png{
                width: auto;
                height: 75px;
            }
        }
        #linkNav{
            font-size: larger;
            margin-left: 25px;
            margin-right: 25px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            transition: box-shadow 0.3s 0.1s;
            display: inline-block;
            position: relative;
            text-decoration: none;
            color: inherit;
        }
        #linkNav::before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 0;
            height: 4px;
            border-radius: 2px;
            background-color: #284B63;
            transform: translateX(-50%);
            transition: width 0.25s ease-out;
          }
        #linkNav:hover::before{
            @extend %hover-effect;
        }
    }

    .nav--hidden {
        transform: translateY(calc(-2 * var(--nav-height)));
        box-shadow: none;
    }
}