#card-container{
    padding: 3% 4%;
    #productCard{
        background-color: transparent;
        border: 0;
        #prod-img{
            width: 100%;
            height: 300px;
            object-fit: contain;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
#card-container:hover{
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
}