%form {
    border: 2px solid gray;
    border-radius: 10px;
}

#form-container{
    background: rgb(255,255,255);
    background: linear-gradient(124deg, rgba(255,255,255,1) 0%, rgba(217,217,217,1) 100%);
    box-shadow: 5px 5px 5px rgba(40, 75, 99, 0.5);
    border-radius: 25px;
    padding: 50px;
    animation: shadowTransition 0.5s 0.3s forwards;
    #form-form{
        color: #353535;
        .form-group{
            
            margin-top: 20px;
            margin-bottom: 20px;
            .asterisk{
                color: red;
            }
            .form-control{
                box-shadow: inset 1px 1px 2px #284B63;
                border: 0px;
                @extend %form;
                background-color: transparent;
            }
        }
    }
    #submitBtn{
        padding: 20px 30px 20px 30px;
        background-color: transparent;
        border: 0px;
        color: black;
        box-shadow: 2px 2px 2px rgba(40, 75, 99, 0.5);  
    }
    #submitBtn:hover{
        background-color: #284B63;
        background: rgb(255,255,255);
        background: linear-gradient(124deg, rgba(255,255,255,1) 0%, rgba(217,217,217,1) 100%);
        box-shadow: 4px 4px 5px rgba(40, 75, 99, 0.5);  

    }
}

@keyframes shadowTransition {
    to {
        box-shadow: 10px 10px 5px rgba(40, 75, 99, 0.5);
    }
}