*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: rgb(217,217,217);
  background: linear-gradient(52deg, rgba(217,217,217,1) 0%, rgba(255,255,240,1) 100%);
}

@media(min-width: 768px) {
  body{
    --nav-height: 50px;
    padding-top: var(50px);
  }
}

