
#landing-text{
    opacity: 10%;
    animation: textOpacity 0.8s 0.1s forwards;
    h1{
        font-family: "Sail", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 100px;
        color: #284B63;
        cursor: context-menu;;
    }
    #to-featured{
        border-radius: 100px;
        padding: 20px;
        background-color: #284B63;
        border: 0px;
    }
}
#landing-img{
    img{
        height: 100%;
        width: auto;
        transform: translate( -25%, 0%);
        opacity: 10%;
        animation: imageAppear 0.8s 0.1s forwards;
    }
}


@media (max-width: 768px) {
    #landing-text{
        h1{
            font-size: 50px;
        }
    }
    #landing-image{
        img{

        }
    }
}

@keyframes textOpacity {
    to {
        opacity: 100%;
    }
}
@keyframes imageAppear {
    to {
        transform: translate( 1em, 0%);
        opacity: 100%;
    }
}